<div class="card">
    <div class="card-header">
      <img src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
      alt="{{user.displayName}}"/>
    </div>
    <div class="card-content">
      <h3>{{(user.displayName) ? user.displayName : 'User'}}</h3>
      <h4>Información: </h4>
      <p><span style="color: green;">Whatsapp:</span> <strong *ngIf="!banderaEditTel">{{(user.phoneNumber) ? user.phoneNumber: 'No tiene'}}
    </strong> <input *ngIf="banderaEditTel" type="text" [(ngModel)]="user.phoneNumber"> <button *ngIf="!banderaEditTel" type="button" (click)="banderaEditTel = true">Cambiar numero</button><button *ngIf="banderaEditTel" type="button" (click)="guardar()">Guardar</button></p>
    <br>
    <p>Barrios de interes</p>
    <ul class="collection">
        <li class="collection-item" *ngFor="let item of user.barriosI">{{item}}</li>
    </ul>
    <input type="text" [(ngModel)]="barrioA">
    <button type="button" placeholder="Otro Barrio" (click)="agregarBarrio()">Agregar barrio</button>
    </div>
   
  </div>