<nav>
    <div class="nav-wrapper" style="background-color: #ffb700;">
      <a routerLink="/home" class="brand-logo"><i class="material-icons">local_taxi</i>Taxi UDC</a>
      <div *ngIf="authService.userData.displayName != ''">
        <ul class="right" *ngIf="authService.userData as user">
          <li><a routerLink="/perfil">{{user.displayName}}</a></li>
          <li><a (click)="authService.SignOut()"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
      </div>
    </div>
  </nav>


<router-outlet></router-outlet>